{{> Header }}

<div class="productsCart-div">

    <div class="Product-info-div">
        <h2>Shopping Cart</h2>
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {{#each items}}
                <tr>
                    <td>
                        <img src="{{this.url}}" alt="{{this.title}}">
                        <h6>{{this.title}}</h6>
                    </td>
                    <td>${{this.unit_price}}</td>
                    <td>{{this.quantity}}</td>
                    <td>${{multiply this.unit_price this.quantity}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <div class="checkout-div">
        <div>
            <h4>Order summary</h4>
        </div>
        <div class="subtotal-div">
            <div>Sub Total</div>
            <div>${{subtotal}}</div>
        </div>
        <div class="total-div">
            <div>Total</div>
            <div>${{total}}</div>        
        </div>
        <button>Checkout</button>
    </div>
</div>

{{> Footer }}
