{{> Header }}

<div class="banner-container">
    <img src="../../../images/banner-image.png" alt="Banner Image">
    <div class="banner-text">
        <h1>Opening Sales</h1>
        <p>Discover amazing products and deals for our grand opening!</p>
    </div>
</div>

<div class="show-products">
    <h3>Featured Products</h3>
    
    <div class="grid-container">
        {{#each products}}
            <div class="grid-item">
                <a href="{{ path 'products' }}/{{ this.props.id }}"><img src="{{ this.props.url }}" alt="Product Image"></a>
                <div class="text">{{this.props.title}}</div>
                <div class="price">${{this.props.price}}</div>
            </div>
        {{/each}} 
    </div>
</div>


{{> Footer }}

