 {{> Header }}

 <div class="cart-container">
        <div class="cart-items">
            <!-- List of cart items goes here -->
            {{!-- {{#each items}}
            <div class="cart-item">
                <img src="{{this.image}}" alt="{{this.name}}">
                <div class="item-details">
                    <h3>{{this.name}}</h3>
                    <p>Price: ${{this.price}}</p>
                    <p>Quantity: {{this.quantity}}</p>
                </div>
            </div>
            {{/each}} --}}
            <h3>Placeholder</h3>
        </div>
        <div class="checkout">
            <button>Checkout</button>
        </div>
    </div>


{{> Footer }}
